@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  color: #FAF9F9;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
  margin-right: 20px;
  background: #FBB731;
  border-radius: 5px;
  padding: 10px 25px;
  cursor: pointer;
  color: #1E2F40;
}
button:hover {
  background: rgba(247, 218, 159, 0.9450980392);
}

a {
  color: inherit;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.conteiner {
  width: 1920px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.hiden {
  display: none;
}

.menu {
  height: 80px;
  width: 100%;
  background: linear-gradient(180deg, #0C4C7B -100%, #1E2F40 100%);
  z-index: 100;
  top: 0;
  position: fixed;
  color: #FAF9F9;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
}

.auth-form {
  background: linear-gradient(180deg, #0C4C7B -100%, #1E2F40 100%);
}

.auth-body {
  height: 200px;
}
.auth-body #eror_message {
  color: black;
}

.input_name {
  height: 30px;
  margin-right: 20px;
  font-size: 20px;
  margin-left: 20px;
}

.password {
  height: 40px;
  margin-right: 20px;
  font-size: 20px;
  margin-left: 20px;
  color: #1E2F40;
}

.auth_input input {
  margin-top: 10px;
}

/* шапка */
.main {
  background: linear-gradient(180deg, #0C4C7B -100%, #1E2F40 100%);
}

.main__btn {
  background: #FBB731;
  border-radius: 5px;
  text-decoration: none;
  padding: 20px 45px;
  display: inline-block;
  text-transform: uppercase;
  font-size: 14px;
}

.text {
  padding-top: 170px;
  padding-bottom: 170px;
}
.text p {
  font-size: 19px;
  line-height: 26px;
  font-weight: 400;
  padding-bottom: 42px;
}
.text h1 span {
  color: #FBB731;
  font-weight: bold;
  line-height: 38px;
  font-size: 30px;
  display: block;
  padding-bottom: 10px;
}

.title {
  font-size: 100px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 120px;
  padding-bottom: 38px;
  padding-top: 38px;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Правый  */
.promo-right {
  flex: 0 0 49%;
  box-sizing: border-box;
  color: #FAF9F9;
  width: 392px;
  background-size: cover;
  padding: 102px 50px;
  background-image: url("../images/burger-r.png");
}

.visual {
  flex-grow: 1;
  width: 829px;
  height: 861px;
}

img {
  width: 829px;
  height: 861px;
}

.bg {
  position: relative;
  height: 100%;
  width: 900px;
  background: linear-gradient(2.42deg, #F37335 -19.6%, #FBB731 100.79%, #FDC830 100.79%);
  background-repeat: no-repeat;
  background-position: cover;
  background-size: 100%;
}

/*  Средний блок*/
.promo {
  padding-top: 186px;
  padding-bottom: 186px;
}

.promo-left {
  box-sizing: border-box;
  color: #FAF9F9;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 116px 50px;
  background-image: url("../images/burger-left.png");
}

.description {
  width: 392px;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

/* левый блок */
.sale {
  font-size: 25px;
}

.cost {
  font-size: 60px;
  line-height: 76px;
  font-weight: 900;
  margin-bottom: 8px;
}

.free {
  font-weight: 700;
  font-size: 44px;
  line-height: 56px;
  margin-bottom: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Подвал */
footer {
  background: #1E2F40;
  color: #FAF9F9;
  padding-top: 20px;
}

.nav-item li, .nav-item .nav-link {
  text-transform: uppercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: inherit;
  font-size: 12px;
  padding-left: 0;
}
.nav-item h2 {
  font-size: 20px;
  line-height: 38px;
  text-transform: uppercase;
}

.nav-link:hover {
  color: #FBB731;
}

.nav-item .list-unstyled.tel {
  margin-top: 115px;
}
.nav-item .list-unstyled.tel li {
  color: #FBB731;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.nav-item .list-unstyled.tel :hover {
  color: rgba(251, 184, 49, 0.6823529412);
}
.nav-item .list-unstyled.tel a {
  padding-top: 5px;
  padding-left: 0;
}

.log {
  width: 63px;
  height: 56px;
}

@media (max-width: 900px) {
  .bg {
    display: none;
  }
  .title {
    font-size: 50px;
    line-height: normal;
  }
  .description {
    font-size: 20px;
  }
}/*# sourceMappingURL=style.css.map */